<h1 class="text-center my-5">
    Mx Admin Tools
</h1>
<div class="mt-4 body d-flex justify-content-center">

    <select class="form-select" id="select" aria-label="Default select example">
        <option selected>Jogadores online</option>
        {{#each players}}
        <option id="select" value="{{id}}">{{id}} | {{firstname}} {{lastname}}</option>
        {{/each}}
    </select>
    <a href="/" id="link">
        <button class="btn btn-primary">
            Opções
        </button>
    </a>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    $("#select").click(() => {
        $("#link").attr("href", `player?tkn_id=${$("#select").val()}`)
    })
</script>